body {
    font-family: 'Daeojamjil', sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* 지원 브라우저에서는 clip 사용 */
@supports (overflow: clip) {

    html,
    body {
        overflow-x: clip;
        overflow-y: hidden;
    }
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil6ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

.fp-root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.fp-track {
  width: 100%;
  position: relative;
  will-change: transform;
  display: block;
}
.fp-section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fp-section.fp-last { height: auto; }